@import "tailwindcss";



@layer base {

    body {
        @apply bg-base-white;
    }

    section {
        @apply px-4 md:px-10 lg:px-20;
    }

    button {
        @apply p-2.5 text-base text-center flex justify-center rounded-lg font-semibold h-fit hover:scale-105 cursor-pointer transform transition-all duration-300 ease-in-out will-change-transform;
    }

    a {
        @apply cursor-pointer transform transition-[text] duration-300 ease-in-out hover:text-brand-900;
    }

    input {
        @apply px-4 py-3 border border-neutral-500 rounded-lg text-base text-neutral-500 font-normal;
    }
}

@theme {
    --color-base-white: #fff;
    --color-brand-50: #F9F5FF;
    --color-brand-100: #F4EBFF;
    --color-brand-200: #E9D7FE;
    --color-brand-300: #D6BBFB;
    --color-brand-700: #6941C6;
    --color-brand-900: #42307D;
    --color-neutral-300: #D4D4D4;
    --color-neutral-500: #737373;
    --color-neutral-600: #525252;
    --color-neutral-900: #171717;
}

@layer components {
    .element-animate {
        @apply transform transition-all duration-300 ease-in-out;
    }

    .animate-fade-in {
        animation: fadeIn 0.4s ease-out forwards;
    }

    .opacity-fade {
        opacity: 0;
    }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}